$pragma-color: #6f2fd3;

@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/Circular/CircularStd-Light.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/Circular/CircularStd-Book.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/Circular/CircularStd-Medium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/Circular/CircularStd-Bold.otf") format("opentype");
  font-weight: 700;
}

body {
  font-family: "Circular", sans-serif;
}

.fw-medium {
  font-weight: 500;
}
